:root{
    --dark: #001219;
    --lightdark1: #005f73;
    --lightdark2: #0a9396;
    --heading: #ae2012;
    --heading2: #bb3e03;
    --heading3: #ca6702;
    --accentyellow: #ee9b00;
    --accenttan: #e9d8a6;
}

*{
    background-color: var(--lightdark1);
    box-sizing: border-box;
}

main,.about-me,.work, .label, .label h2,.worklabel, .about-p, .about-p p,.contact, .contact-linx, .contact-linx a, .work-examples{
    background-color: var(--accenttan);
}

body{
    width: auto;
    min-width:376px;
}

.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    vertical-align: text-bottom;
    flex-basis: auto;
}

.nameheader{
    display: flex;
    flex-basis: auto;
    color: var(--heading);
    font-family: Helvetica,Arial;
    font-size: 200%;
    margin-top: -2%;
    margin-bottom: -2%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.seperator{
    display: flex;
    width: 25.5%;
}

.banner{
    position: relative;
    width: 100%;
}

.subtitle{
    position:absolute;
    top: 45%;
    right: 1%;
    font-family: Brush Script MT,copperplate, cambria, optima;
    font-size: 300%;
    text-shadow: -2.5px 0 black, 0 2.5px black, 2.5px 0 black, 0 -2.5px black;
    color: var(--heading);
    padding-left: 1.5%;
    padding-right: 1.5%;
    background-color: transparent;
}

.subtitle h2{
    background-color: transparent;
}

nav {
    position: relative;
    display: flex;
}

nav a{
    margin-right: 10px;
    margin-top: 11%;
    display: flex;
    font-size:x-large;   
    padding:10px;
    font-family: Garamond, Serif;
}

.about-me{
    display: inline-flex;
    position: relative;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 1%;
}

.about-photo{
    background-color: var(--accenttan);
    background-size: auto;
    width: auto;
    height: auto;
}

.about-photo img{
    position: relative;
    display: flex;
    padding-top: 1%;
    background-color: var(--accenttan);
}

.about-p{
    display: flex;
    flex-direction: column;
    width:67%;
    padding-left: 1%;
}

.label{
    display: inline;
    position: relative;
    color: var(--heading);
    width: 10%;
    vertical-align: text-top;
    text-align: right;
    font-size: 20px;
    line-height: 10%;
    padding-right: 1%;
}

.work img{
    border: solid;
    border-color: var(--lightdark2);
}

.work img:hover, .worklabel:hover{
    border-color: var(--heading);
}

.work{
    display: flex;
    justify-content: flex-start;
    position:relative;
}

.worklabel h1{
    color: var(--heading);
    background-color: var(--dark);
    font-family: Helvetica,Arial;
}

.worklabel h3{
    color: var(--accentyellow);
    background-color: var(--dark);
    font-family: 'Arial Narrow';
}

.worklabel{
    position:absolute;
    top: 65%;
    left:0%;
    width: auto;
    line-height: 10%;
    background-color: var(--dark);
    border:solid;
    border-color: var(--lightdark2);
}

.work-examples{
    position: relative;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    gap: .5%;
}

.work-examples a:link{
    background-color: transparent;
}

.work-examples a:visited{
    background-color: transparent;
}

.examplework{
    position: relative;
    background-color: var(--accenttan);
}

.examplework img:hover{
    border-color: var(--heading);
}

#nixonhack{
    background-color: var(--accenttan);
}

.contact{
    display: flex;
    position: relative;
    width:100%;
}

.contact-linx{
    font-size: x-large;
    display: flex;
    width:87%;
    justify-content: space-between;
    font-family: Garamond, Serif;
}

.contact-linx a{
    display: flex;
    margin-top: 2%;
    flex-direction: column;
}

.footer{
    display: flex;
    justify-content: center;
}

.footer img{
    width: 3%;
    height: 3%;
    margin-top: 1%;
    margin-right: .5%;
    margin-left: .5%;
}

a:hover{
    color: var(--dark);
}

a:link{
    color: var(--heading3);
}

a:visited{
    color: var(--heading3);
}

@media screen and (max-width: 1423px) {
    .subtitle {
        top: 25%;
    }
}

@media screen and (max-width: 1240px) {
    .seperator {
        width: 10%;
    }

    .about-photo, .about-photo img{
        flex-direction: column;
    }
}   

@media screen and (max-width: 1040px) {
    .seperator {
        width: 5%;
    }
}

@media screen and (max-width: 992px) {
    a:link{
        color: var(--dark);
    }

    a:hover{
        color: var(--dark);
    }

    a:visited{
        color: var(--dark);
    }

    .seperator {
        width: 0px;
        }
}

@media screen and (max-width: 961px) {
    .subtitle {
      top: 10%;
    }

    .footer img{
        width: 5%;
        height: 5%;
        margin-top: 1%;
        margin-right: .5%;
        margin-left: .5%;
    }

    .nameheader{
        font-size: 150%;
    }

    nav a{
        font-size:large;   
    }
}

@media screen and (max-width: 803px) {
    .subtitle {
        top: 15%;
        font-size: 150%;
        left: 1%;
    }

    .footer img{
        width: 10%;
        height: 10%;
        margin-top: 1%;
        margin-right: .5%;
        margin-left: .5%;
    }
}
  
@media screen and (max-width: 768px) {
    * {
      background:var(--accentyellow);
    }

    .label{
        width: 15%;
    }

    /*.nixonhack*/#nixon-shark img{
        width: 350px;
        height: 350px;
        object-fit: cover;
    }
}

@media screen and (max-width: 750px) {
    .about-me, .work, .contact{
        display: grid;
    }

    .contact{
        display: flex;
        flex-direction: column;
    }

    .contact-linx{
        display: inline-block;
        margin-left: 1%;
    }

    #selfpic{
        padding-left: 1%;
    }

    .label{
        width: auto;
        text-align: left;
        margin-left: 1%;
    }

    .header{
        display: block;
    }

    .header h1{
        margin-bottom: 2.6%;
        margin-top: 3%;
    }

    nav a{
        margin-right: 0px;
        margin-top: 0%;
        display: flex;
        font-size:large;   
        padding:1%;
        font-family: Garamond, Serif;
    }

    .about-p{
        width:98%;
    }
    
}

@media screen and (min-width: 751px) {
    .label{
        width: 10%;
        text-align: right;
    }
}


@media screen and (max-width: 450px){
    .subtitle {
        top: -10%;
        font-size: 150%;
        left: 1%;
    }
}

@media sceen and (max-width:320) {
    .header{
        position: relative;
        display: flex;
        justify-content: space-between;
        vertical-align: text-bottom;
        flex-basis: auto;
        flex-direction: column;
    }
    
    

    .label{
        font-size: 70%;
    }
}
